<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=IULIA\SQLEXPRESS;Initial Catalog=CloudGaming;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Database" value ="CloudGaming"/>
    <add key="ParentTableName" value="VideoGameCompanies"/>
    <add key="ChildTableName" value ="Games"/>
    <add key="ParentSelectQuery" value="SELECT * FROM VideoGameCompanies"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Games"/>
    <add key="ParentReferencedKey" value="Vid"/>
    <add key="ChildForeignKey" value="Vid"/>
    <add key="ParentSelectionQuery" value="SELECT * FROM Games WHERE Vid = {0}"/>

    <!--<add key="Database" value ="CloudGaming"/>
    <add key="ParentTableName" value="Genres"/>
    <add key="ChildTableName" value ="Games"/>
    <add key="ParentSelectQuery" value="SELECT * FROM Genres"/>
    <add key="ChildSelectQuery" value="SELECT * FROM Games"/>
    <add key="ParentReferencedKey" value="Genid"/>
    <add key="ChildForeignKey" value="Genid"/>
    <add key="ParentSelectionQuery" value="SELECT * FROM Games WHERE Genid = {0}"/>-->
  </appSettings>
</configuration>