/* Add your CSS styling here */
#recipeTypes button {
    margin-right: 10px;
}

#recipeList {
    margin-top: 20px;
}

#recipeList h3 {
    margin-bottom: 5px;
}

#recipeList p {
    margin-bottom: 10px;
}

#recipeList button {
    margin-right: 5px;
}